Checks: '*,
        -hicpp-explicit-conversions,
        -modernize-*,
        -readability-*,
        -darwin-*,
        -fuchsia-*,
        -linuxkernel-*,
        -llvmlibc-*,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -zircon-*,
        -altera-unroll-loops,
        -altera-struct-pack-align,
        -altera-id-dependent-backward-branch,
        -hicpp-avoid-c-arrays,
        -hicpp-no-array-decay,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -misc-non-private-member-variables-in-classes,
        -google-build-using-namespace,
        -llvm-include-order,
        -hicpp-named-parameter,
        -cppcoreguidelines-avoid-goto,
        -hicpp-avoid-goto,
        
        -bugprone-exception-escape,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-bounds-constant-array-index'
