Checks: '*,
        -altera-id-dependent-backward-branch,
        -altera-struct-pack-align,
        -altera-unroll-loops,
        -bugprone-assignment-in-if-condition,
        -bugprone-easily-swappable-parameters,
        -bugprone-exception-escape,
        -cert-dcl50-cpp,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-avoid-goto,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-missing-std-forward,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-type-vararg,
        -darwin-*,
        -fuchsia-*,
        -google-build-using-namespace,
        -google-build-using-namespace,
        -google-explicit-constructor,
        -google-readability-braces-around-statements,
        -google-readability-casting,
        -google-readability-todo,
        -google-runtime-references,
        -hicpp-avoid-c-arrays,
        -hicpp-avoid-goto,
        -hicpp-braces-around-statements,
        -hicpp-explicit-conversions,
        -hicpp-multiway-paths-covered,
        -hicpp-named-parameter,
        -hicpp-no-array-decay,
        -hicpp-signed-bitwise,
        -hicpp-vararg,
        -linuxkernel-*,
        -llvm-include-order,
        -llvmlibc-*,
        -misc-definitions-in-headers,
        -misc-include-cleaner,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -misc-redundant-expression,
        -modernize-*,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -readability-*,
        -zircon-*'



# misc-definitions-in-headers is causing warning for every constexpr variable templates

# google-runtime-references: "non-const reference parameter 'n', make it const or use a pointer"
#    This guideline has been removed from Google Style Guide:
#     - https://github.com/google/styleguide/commit/7a7a2f510efe7d7fc
#     - https://google.github.io/styleguide/cppguide.html#Inputs_and_Outputs